////////////////////////////////////////////////////////
// COLORS

// BLUE
$color-blue-lighter: #f3f9ff; //(blue-highlight-box)
$color-blue-light: #f2f4f7; //(blue-highlight-tag)
$color-blue-light-2: #ebf5ff;
$color-blue: #1b88f4; // (blue-text w/o highlight, blue-button )
$color-blue-hover: #187adc;
$color-blue-dark: #074786; // (blue-text w/ highlight)
$color-blue-darker: #0855a1; //(blue-icons)

// GREY
$color-grey-0: #ffffff;
$color-grey-50: #fbfcfd; //(color-body)
$color-grey-70: #f0f0f0;
$color-grey-100: #d1d6da; //(color-navLinks)
$color-grey-200: #babec3; //(color-info)
$color-grey-300: #b6bdc4; //(color-footerLinks)
$color-grey-400: #9fa9b3; //(color-price-before-discount)
$color-grey-500: #727d87; //(color-firstBreadcrumb)
$color-grey-600: #626e79; //(color-relatedDeals/captions)
$color-grey-700: #5c6874; //(color-signup)
$color-grey-800: #4b5665; //(color-paragraph)
$color-grey-900: #2c384a; //(color-heading)
$color-grey-950: #212731; //(color-footer/navbar)

// OTHERS
$color-accent-dark: #ef4c5d; //(color-discount)
$color-accent: #ff7724; //(color-bestTag)
$color-accent-light: #fff4ed; //(color-mainHighlights)
$color-yellow: #ffb80f; //(color-stars)

////////////////////////////////////////////////////////
// FONTS
$font-tiny: 1.3rem;
$font-xs: 1.4rem;
$font-sm: 1.5rem;
$font-md: 1.6rem;
$font-lg: 2rem;
$font-xl: 3.2rem;
$font-huge: 4.8rem;

$border: 1px solid #e1e4e6;
// $border: 2px solid #ddd;
