@import "../../sass/mixins";

.related {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 38rem));
  row-gap: 3rem;
  column-gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;

  @include respond(phone) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  @include respond(tab-port) {
    gap: 2.4rem;
  }

  @include respond(small-desktop) {
    gap: 3rem;
  }
}
