@import "../../sass/mixins";
@import "../../sass/variables";

.search {
  background-color: $color-grey-0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 0.6rem;
  border: $border;
  border-radius: 0.8rem;
  width: 26rem;
  transition: all 0.3s;
  cursor: pointer;

  &__icon {
    @include center;

    & svg {
      height: 2.4rem;
      width: 2.4rem;
      fill: $color-grey-600;
      stroke: $color-grey-600;
    }
  }

  &__input {
    background-color: transparent;
    border: none;
    flex-grow: 1;

    &:focus {
      outline: none;
    }
  }
}
