@import "../../sass/mixins";

.header {
  max-width: 120rem;
  padding: 0 4rem;
  margin: 2.6rem auto 5rem;

  @include respond(tab-land) {
    padding: 0 7rem;
  }

  @include respond(small-desktop) {
    padding: 0 10rem;
  }
}
