@import "../../sass/mixins";

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.6rem 0;

  @include respond(tab-port) {
    padding: 0 2rem;

    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  @include respond(tab-land) {
    gap: 5rem;
  }

  @include respond(small-desktop) {
    gap: 7rem;
  }

  &__title {
    @include fontXs;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
    @include fontTiny;

    @include respond(tab-port) {
      flex-direction: row;
      align-items: center;
      gap: 3.5rem;
    }

    @include respond(tab-land) {
      gap: 5rem;
    }

    @include respond(small-desktop) {
      gap: 7rem;
    }
  }
}
