@import "../../sass/variables";
@import "../../sass/mixins";

.dateRow {
  border-top: $border;
  border-bottom: $border;
  padding: 1rem 0;
  @include fontXs;
  margin: 1.6rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  @include respond(tab-port) {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  &__lastUpdate {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__date {
    @include fontTiny;
  }

  &__advertise {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__relevant {
    @include fontXs;
    justify-self: center;
    margin-top: 1rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $color-grey-500;
    cursor: pointer;

    @include respond(tab-port) {
      margin-top: 0;
      margin-left: auto;
    }

    &:hover {
      text-decoration: underline;
    }

    &--icon {
      @include center;

      & svg {
        width: 1.8rem;
        height: 1.8rem;
        stroke: $color-grey-600;
      }
    }
  }

  &__icon {
    @include center;
    padding: 0.2rem;
    border: 1px solid $color-grey-600;

    border-radius: 50%;

    & svg {
      width: 1.2rem;
      height: 1.2rem;
      stroke: $color-grey-600;
    }
  }
}
