@import "../../sass/variables";
@import "../../sass/mixins";

.nav {
  background-color: $color-grey-950;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    @include respond(tab-land) {
      justify-content: center;
      gap: 10rem;
    }
  }

  &__list {
    display: none;

    @include respond(tab-land) {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
    }
  }

  &__link {
    @include fontXs;

    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-100;
    }

    &:hover,
    &:active {
      color: $color-grey-50;
    }
  }

  &__btn {
    display: block;

    @include center;
    border: none;
    background-color: transparent;

    & svg {
      height: 3.6rem;
      width: 3.6rem;
      stroke: $color-grey-100;
    }

    @include respond(tab-land) {
      display: none;
    }
  }
}
